<table class="table table-striped">
    <tbody>
       <tr>
            <th>Gracz</th>
            <th>Punkty</th>
        </tr>
        {{#each table}}
        <tr>
            <td>{{name}}</td>
            <td>{{points}}</td>
        </tr>
        {{/each}}
</table>
