<table class="table table-striped">
    <tbody>
        {{#each table}}
        <tr>
            <td><image src="{{image}}"></image></td>
            <td>{{name}}</td>
        </tr>
        {{/each}}
</table>
